<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Courses - HireMeNow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">HireMeNow</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/">Jobs</a></li>
						<li><a href="/courses" class="active">Courses</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Courses</h1>
							<section>
								<h2>Java Application using Microsoft Azure</h2>
								<h3>Here are some Youtube playlists you might want to follow to build a Java Application with Microsoft Azure</h3>
								<div class="table-wrapper">
									<table>
										<tbody>
											<tr>
												<td><iframe width="300" height="200" src="https://www.youtube.com/embed/VHbSopMyc4M?list=PLBlnK6fEyqRjKA_NuK9mHmlk0dZzuP1P5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
												<td><iframe width="300" height="200" src="https://www.youtube.com/embed/vR-y_2zWrIE?list=PLWKjhJtqVAbkFiqHnNaxpOPhh9tSWMXIF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
												<td><iframe width="300" height="200" src="https://www.youtube.com/embed/6QnY2LtvAIs?list=PLLasX02E8BPDgjhYxhKRrEGjPLNrORv_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
											</tr>
									</table>
								</div>
							</section>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; HimeshNayak 2022. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>