<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Discuss - HireMeNow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" href="images/logoHMN.png" type="image/icon type">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">HireMeNow</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/">Internships</a></li>
						<li><a href="/courses">Courses</a></li>
						<li><a href="/discuss" class="active">Discuss</a></li>
						<li><a href="/profile">Profile</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
                            <div class="split style1">
								<section>
									<h1>Discussions</h1>
									<ul th:each="p : ${allPosts}" style="list-style:none;margin:0px;padding:0px">
										<li>
											<table>
												<thead>
													<tr>
														<th th:text="${p.getName()}"/>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td th:text="${p.getNote()}"/>
													</tr>
												</tbody>
											</table>
										</li>
									</ul>
								</section>
								<section>
									<div style="margin-top:50px;padding: 10px;">
										<form action="#" th:action="@{/discuss}" th:object="${post}" method="post">
											<div align = "center" class="fields">
												<textarea name="note" rows="10" cols="40" th:field="*{note}" placeholder="Enter Post Message" />
											</div>
											<ul class="actions">
												<li><input type = "submit" value = "Post"/></li>
											</ul>
										</form>
										<button onclick="window.location.replace('/translate')">Need Translations?</button>
									</div>
								</section>
							</div>
                        </div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; HimeshNayak 2023. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>