<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>HireMeNow by HimeshNayak</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Internships</a></li>
							<li><a href="#two">Learn Skills</a></li>
							<li><a href="#three">Register / Login</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>HireMeNow</h1>
							<p>A portal for students to learn skills and apply for internships.</p>
							<ul class="actions">
								<!-- <li>
									<div class="col-12">
										<select name="demo-category" id="demo-category" th:field="*{jobCategory}">
											<option th:each="category : ${categories}" th:value="${category}" th:text= "${category}"/>
										</select>
									</div>
								</li> -->
								<li><a href="#one" class="button scrolly">View Internships</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2 th:text = "${jobs.get(0).getTitle()}"/>
									<p th:text = "${jobs.get(0).getCompany()}"/> 
									<ul class="actions">
										<li><a th:href="@{/jobDetails(id=${jobs.get(0).getJobId()})}" class="button">View Job</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2 th:text = "${jobs.get(1).getTitle()}"/>
									<p th:text = "${jobs.get(1).getCompany()}"/> 
									<ul class="actions">
										<li><a th:href="@{/jobDetails(id=${jobs.get(1).getJobId()})}" class="button">View Job</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2 th:text = "${jobs.get(2).getTitle()}"/>
									<p th:text = "${jobs.get(2).getCompany()}"/> 
									<ul class="actions">
										<li><a th:href="@{/jobDetails(id=${jobs.get(2).getJobId()})}" class="button">View Job</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Learn Skills</h2>
							<p>There are a lot of resources available for students to learn new skills and apply them to build innovative solutions and solve real life problems.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Programming Concepts</h3>
									<p>Skill up by learning core programming concepts and ace your internship coding tests and interviews.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Cyber Security</h3>
									<p>Cybersecurity is the practice of protecting critical systems and sensitive information from digital attacks.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>DevOps</h3>
									<p>DevOps is a set of practices that combines software development (Dev) and IT operations (Ops).</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Operating Systems</h3>
									<p>
										An operating system (OS) is system software that manages computer hardware, software resources, and provides common services for computer programs</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="/courses" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Register With Us</h2>
							<p>If you are a job seeker and want to get hired to the job you find </p>
							<div class="split style1">
								<section>
									<form action="#" th:action="@{/user}" th:object="${user}" method="post">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" th:field="*{name}" />
											</div>
											<div class="field half">
												<label for="password">Password</label>
												<input type="password" th:field="*{password}" />
											</div>
											<div class="field half">
												<input type="radio" id="student" th:field="*{type}" value="Student" >
												<label for="student">Student</label>
												<input type="radio" id="mentor" th:field="*{type}" value="Mentor" checked>
												<label for="mentor">Mentor</label>
											</div>
										</div>
										<ul class="actions">
											<li><input type = "submit" value = "Register"/></li>
										</ul>
									</form>
									<p>Already Registered?</p>
									<ul class="actions">
										<li><button onclick="window.location.replace('/login');">Login</button></li>
									</ul>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Developed By</h3>
											<span>Himesh Nayak<br />
											Web / App Developer<br />
											India</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:himeshnayak015@gmail.com">himeshnayak015@gmail.com</a>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://twitter.com/Himesh_nayak" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://github.com/HimeshNayak" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://instagram.com/himeshnayak.8" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://linkedin.com/in/himeshnayak015" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; HimeshNayak 2022. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/forms.js"></script>
	</body>
</html>